body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #e2dcdc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e2dcdc;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

.textarea {
    max-width: 280px;
    font-family: 'Montserrat', sans-serif;
}

/* Hovering Project Feed  */
.ProjectFeedScroll {
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #1c679d;
    color:whitesmoke;
}

.ProjectFeedScroll a {
    color: #43e343;
}

    .ProjectFeedScroll h3 {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        /* Apply animation to this element */
        -moz-animation: example1 10s linear infinite;
        -webkit-animation: example1 10s linear infinite;
        animation: example1 10s linear infinite;
    }
/* Move it (define the animation) */
@-moz-keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

.ProjectFeedScroll h3:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* Project Feed Rounded Corners */
.corner {
    border-top: 150px solid #20204a;
    border-bottom: 100px solid transparent;
    border-right: 150px solid transparent;
    position: absolute;
    left: 0;
    display: inline;
}

.corner-right {
    border-top: 150px solid #20204a;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    position: absolute;
    right: 0;
    display: inline;
}

.btn-space {
    margin-left: 5px;
}

.btn-space-m {
    margin-left: 10px;
}


.project-header-container {
    
    color: whitesmoke;
    font-weight: bolder;
    background-image: linear-gradient(#28285a,#14142f);
}

.project-team-container {
    color: whitesmoke;
    font-style: oblique;
    background-image: linear-gradient(#20204a,#14142f);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.project-kanban-container {
    background-color: white;
    padding-top: 15px;
    margin-top: -7px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.navbar {
    background-image: linear-gradient(#20204a,#14142f);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.thead{
    background-color: navajowhite;
}

.modal-header {
    background-image: linear-gradient(#20204a,#14142f)!important;
}